# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
energenie
1on
1off
2on
2off
3on
3off
4on
4off
masteron
masteroff
homeeasy
toggle
bgas
drayton
